script
[{"id":"a5e3909.0e47e7","type":"tab","label":"String Injected Parsing","disabled":true,"info":""},{"id":"cdc831f0.38365","type":"inject","z":"a5e3909.0e47e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":240,"y":200,"wires":[["14c90f68.755171"]]},{"id":"29deffc4.78f3","type":"debug","z":"a5e3909.0e47e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":200,"wires":[]},{"id":"14c90f68.755171","type":"string","z":"a5e3909.0e47e7","name":"Parsing ","methods":[{"name":"between","params":[{"type":"str","value":"/"},{"type":"str","value":"/"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":600,"y":200,"wires":[["29deffc4.78f3"]]}]